<!DOCTYPE html>
<html>
    <head>
        <!-- Für unseren Lieblingsbrowser aus dem Hause Microsoft: -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Sonstiger HEAD-Kram -->
        <meta charset="utf-8">
        <title>StudyScores 0.3</title>
        <link href="/studyscores.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" charset="utf-8" src="/raphael.js"></script>
        <script type="text/javascript" charset="utf-8" src="/g.raphael-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/g.pie.js"></script>
        <script type="text/javascript" charset="utf-8" src="/g.bar.js"></script>
<!--        <script type="text/javascript" charset="utf-8" src="/script.js"></script> -->
        
        <script type="text/javascript">
            var _current_slide = 1;
            var SLIDE_NUM = <%= @sum.size %>;

            function open_slide(num) {
                // Grenzüberschreitungen verhindern
                num = Math.max(1, num);
                num = Math.min(num, SLIDE_NUM);
                _current_slide = num;
                
                // Alles bis auf 3 Slides unsichtbar schalten
                for(i = 1; i <= SLIDE_NUM; i++) {
                    position = 'invisible';
                    switch(i) {
                        case num - 1:
                            position = 'left';
                            break;
                        case num:
                            position = 'front';
                            break;
                        case num + 1:
                            position = 'right';
                            break;
                    }

                    document.getElementById("" + i).className = "slide " + position;
                }
            }
        </script>
    </head>
    
    <body onload="open_slide(_current_slide)">
        <header>
            <h1>StudyScores V0.3</h1>
            <nav>
                <input type="button" name="prev" value="Previous Slide" onclick="open_slide(--_current_slide)" />
                <input type="button" name="next" value="Next Slide" onclick="open_slide(++_current_slide)" />
            </nav>
        </header>
        <div id="slide_area"> 
            <% start = 1%>
            <% @sum.each do |s| %>
                    <div id="<%= start %>" class="slide"> 
                        <section class="slide_content"> 
                            <h2><%= s.lecture%></h2> 
                            <p><%= s.result%>/<%= s.possible%></p>
                            <table> 
                                <thead>
                                    <tr><td>HW</td><td>von</td><td>ON</td><td>von</td></tr>
                                </thead>
                            <% @results.all(:lecture => s.lecture).each do |result| %>
                            <tr><td><%= result.hw_result %></td><td><%= result.hw_possible %> </td><td><%= result.on_result %></td><td><%= result.on_possible %> </td><td><%= result.hw_percentage %> %</td> </tr>
                            <% end %>
                            </table>
                        </section> 
                    </div> 
                    <% start += 1%>
                    <% end %>
                </div>
    </body>
</html>